<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFarm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <a href="" class="logo"><span>Go</span>Farm</a>
        <div class="menu-toggle" onclick="menuToggle();"></div>
        <ul class="navbar">
            <li><a href="#home" onclick="menuToggle();">Home</a></li>
            <li><a href="#about" onclick="menuToggle();">About</a></li>
            <li><a href="#crop" onclick="menuToggle();">Crop</a></li>
            <li><a href="#creator" onclick="menuToggle();">Creator</a></li>
        </ul>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h3>#savecrop</h3>
            <p>"Care for the environment today for a better live tomorrow"</p>
            <a href="{{ url_for('crop_prediction') }}" class="btn">Get Started</a>
        </div>
    </section>

    <section class="about" id="about">
        <div class="row">
            <div class="col">
                <h2 class="title-text"><span>A</span>bout Us</h2>
                <p>GoFarm is a machine learning-based website which is intended to predict suitable plants for planting based on user environmental conditions. GoFarm's here to help you determine plants based on the soil structure data and rainfall. We created
                    this application to increase the success rate of farming for people who are less skilled in agriculture.</p>
                <br><br>
                <p>We have some data from 20 types of crops that used as a reference for prediction results. We guarantee the success rate that we present from the predicted results. "When we heal the earth, we heal ourselves. Nature provides a free lunch,
                    but only if we control our appetites". So, what do you waiting for ? Try it now!</p>
            </div>
            <div class="col">
                <div class="about-image">
                    <img src="{{ url_for('static', filename='img/melon.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="crop" id="crop">
        <div class="title">
            <h2 class="title-text"><span>C</span>rop List</h2>
            <p>We're provided some crop for our recommendation to you</p>
        </div>
        <div class="crop-content">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/apple.jpg') }}" alt="">
                </div>
                <div class="card-text">
                    <h3>Apple</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/mungbean.jpg') }}" alt="">
                </div>
                <div class="card-text">
                    <h3>Mung Bean</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/coffe.jpg') }}" alt="">
                </div>
                <div class="card-text">
                    <h3>Coffe</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/mango.jpg') }}" alt="">
                </div>
                <div class="card-text">
                    <h3>Mango</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for( 'static', filename='/img/rice.jpg' ) }}" alt="">
                </div>
                <div class="card-text ">
                    <h3>Rice</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image ">
                    <img src="{{ url_for( 'static', filename='img/watermelon.jpg' ) }}" alt="">
                </div>
                <div class="card-text">
                    <h3>Watermelon</h3>
                </div>
            </div>
        </div>
        <div class="title">
            <a href="#" class="btn">View All</a>
        </div>
    </section>

    <section class="creator" id="creator">
        <div class="title white">
            <h2 class="title-text"><span>C</span>reator Team</h2>
            <p>And here is! The founding and developer of this website</p>
        </div>
        <div class="creator-content ">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for( 'static', filename='img/radya.jpg' ) }}" alt=" ">
                </div>
                <div class="card-text ">
                    <h3>Radya Adi</h3>
                    <p>Student at Universitas Pembangunan Nasional "Veteran" Yogyakarta</p>
                    <small>contact : adiradya140@gmail.com</small>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for( 'static', filename='img/tejo.jpg' ) }}" alt=" ">
                </div>
                <div class="card-text">
                    <h3>Murwanjani Tejo</h3>
                    <p>Student at Institut Teknologi Telkom Purwokerto</p>
                    <br>
                    <small>contact : tejomurwanjani@gmail.com</small>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>Copyright ©2021 Radya Adi & Murwanjani Tejo. All Rights Reserved</p>
    </footer>
    <script src="{{ url_for( 'static', filename='js/script.js' ) }}"></script>
</body>

</html>