<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
    <title>GoFarm</title>
</head>

<body>
    <header>
        <a href="" class="logo"><span>Go</span>Farm</a>
        <div class="menu-toggle" onclick="menuToggle();"></div>
        <ul class="navbar">
            <li><a href="{{ url_for('home') }}" class="btn-back" onclick="menuToggle();">Back</a></li>
        </ul>
    </header>
    <main>
        <section class="form-content">
            <h1>Crop Prediction</h1>
            {% if prediction_text %}
            <p><i>last result : {{ prediction_text }}</i></p>
            {% endif %}
            <form action="{{ url_for('predict') }}" method="post" id="predict-form">
                <div class="row">
                    <div class="col">
                        <label for="nitrogen" class="form-label">Nitrogen</label>
                        <input type="text" class="form-control" id="nitrogen" placeholder="rate kg/ha" name="N" required>
                    </div>
                    <div class="col">
                        <label for="phosphorous" class="form-label">Phosphorous</label>
                        <input type="text" class="form-control" id="phosphorous" placeholder="rate kg/ha" name="P" required>
                    </div>
                    <div class="col">
                        <label for="potassium" class="form-label">Potassium</label>
                        <input type="text" class="form-control" id="potassium" placeholder="rate kg/ha" name="K" required>
                    </div>
                    <div class="col">
                        <label for="temperature" class="form-label">Temperature</label>
                        <input type="text" class="form-control" id="temperature" placeholder="rate celcius" name="temperature" required>
                    </div>
                    <div class="col">
                        <label for="humidity" class="form-label">Humidity</label>
                        <input type="text" class="form-control" id="humidity" placeholder="rate %" name="humidity" required>
                    </div>
                    <div class="col">
                        <label for="ph" class="form-label">pH</label>
                        <input type="text" class="form-control" id="ph" placeholder="rate 0-14" name="ph" required>
                    </div>
                    <div class="col">
                        <label for="rainfall" class="form-label">Rainfall</label>
                        <input type="text" class="form-control" id="rainfall" placeholder="rate mm" name="rainfall" required>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn-submit">Predict</button>
                </div>
            </form>
        </section>
    </main>
    {% if prediction_text %}
    <section class="popup-overlay">
        <div class="popup-box-container">
            <div class="result-img">
                <img src="{{ url_for('static', filename='img/' + prediction_text + '.jpg') }}" alt="">
            </div>
            <div class="result">
                <h5>Accroding to the data, the crop result is</h5>
                <h1>{{ prediction_text }}</h1>
            </div>
            <div class="btn-dismiss">Dismiss</div>
        </div>
    </section>
    {% endif %}

    <footer>
        <p>Copyright ©2021 Radya Adi & Murwanjani Tejo. All Rights Reserved</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>